{
  "presets": [
    "latest",
    "react",
    "stage-3",
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    "babel-plugin-transform-regenerator",
    "babel-plugin-transform-es2015-modules-commonjs"
  ]
}