#RoomDetail {
  #room-list {
    .ant-card-head {
      background-color: #D4EDFF;
    }
    .ant-card-head-title {
      > span,
      + .ant-card-extra {
          display: flex;
          align-items: center;
      }
    }


  }



}
