#LeftSiderbar {
  background-color: white;
  overflow: scroll;
  &::-webkit-scrollbar {display:none}
  .avatar-wrapper {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 1px solid #e8e8e8;
  }
  .ant-avatar-lg.ant-avatar-icon {
    font-size: 34px;
  }

  .ant-avatar-lg, .ant-avatar-lg>* {
    line-height: 60px;
  }
  .ant-avatar-lg {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}